## All non-dist directories
.github/
coverage/
examples/
src/
test/
documentation/

## Root files
.eslintrc.json
.gitignore
.jsdocrc.json
.prettierrc.json
index.test-d.ts
karma.config.js
webpack.config.js
