## All non-dist directories
.github/
coverage/
examples/
src/
test/
wasm/
documentation/

## Root files
.eslintrc.json
.gitignore
.gitattributes
.jsdocrc.json
.c8rc.json
index.test-d.ts
karma.config.js
webpack.config.js
